{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block content %}
    <h1 id="timer">Time Remaining: 60 Seconds</h1>
    <h2 id="high-score">High score: {{ high_score }}</h2>
    <p>You have played {{ play_count }} times</p>
    <h2 id="score">Score: 0</h2>
    <section>
        <table>
            <tbody>
              {% for row in board %}
              <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </section>
    <br>
    <form action="">
        <label for="guess">Find a word on the board:</label>
        <input type="text" placeholder="Guess a word" id="guess" name="guess">
        <button type="submit">Find word</button>
    </form>
    <b>Found Words:</b>
    <section>
      <ul></ul>
    </section>
{% endblock %}